<!DOCTYPE html>
<html>
  <head>
    <title>Hello, World!</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
      <h1 class="title">FORM REGISTRASI ATLET</h1>
      <form action="/action_page.php">
        <label for="nama_atlet">Nama:</label>
        <input type="text" id="nama_atlet" name="nama_atlet"><br><br>
        
        <label for="email_atlet">Email:</label>
        <input type="text" id="email_atlet" name="email_atlet"><br><br>
        
        <label for="negara_atlet">Negara:</label>
        <input type="text" id="negara_atlet" name="negara_atlet"><br><br>
        
        <label for="birthdate_atlet">Tanggal Lahir:</label>
        <input type="text" id="birthdate_atlet" name="birthdate_atlet"><br><br>
        
        <label for="play">Play:</label>
        <input type="radio" id="left" name="play_side"value="left">
        <label for="left">Left</label>
        <input type="radio" id="right" name="play_side"value="right">
        <label for="right">Right</label><br>

        <br><label for="height">Tinggi Badan:</label>
        <input type="text" id="height" name="height"><br><br>
        
        <label for="gender">Jenis Kelamin:</label>
        <input type="radio" id="laki" name="gender_atlet"value="laki">
        <label for="laki">Laki</label>
        <input type="radio" id="perempuan" name="gender_atlet"value="perempuan">
        <label for="perempuan">Perempuan</label><br>
        
  
        
        <br><input type="submit" value="DAFTAR">
      </form>
      <script src="script.js"></script>
  </body>
</html>