<!DOCTYPE html>
<html>
  <head>
    <title>Hello, World!</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
      <h1 class="title">FORM REGISTRASI PELATIH</h1>
      <form action="/action_page.php">
        <label for="nama_pelatih">Nama:</label>
        <input type="text" id="nama_pelatih" name="nama_pelatih"><br><br>
        
        <label for="email_pelatih">Email:</label>
        <input type="text" id="email_pelatih" name="email_pelatih"><br><br>
        
        <label for="negara_pelatih">Negara:</label>
        <input type="text" id="negara_pelatih" name="negara_pelatih"><br><br>
        
        <label for="category">Kategori:</label><br>
        <input type="checkbox" id="tunggal_putra" name="tunggal_putra" value="tunggal_putra">
        <label for="tunggal_putra"> Tunggal Putra</label><br>
        <input type="checkbox" id="tunggal_putri" name="tunggal_putri" value="tunggal_putri">
        <label for="tunggal_putri"> Tunggal Putri</label><br>
        <input type="checkbox" id="ganda_putra" name="ganda_putra" value="ganda_putra">
        <label for="ganda_putra"> Ganda Putra</label><br>
        <input type="checkbox" id="ganda_putri" name="ganda_putri" value="ganda_putri">
        <label for="ganda_putri"> Ganda Putri</label><br>
        <input type="checkbox" id="ganda_camp" name="ganda_camp" value="ganda_camp">
        <label for="ganda_camp"> Ganda Campuran</label><br><br>
        
        
        <label for="start_date">Tanggal Mulai:</label>
        <input type="date" id="start_date" name="start_date"><br><br>
        
        
        
        <br><input type="submit" value="DAFTAR">
      </form>
      <script src="script.js"></script>
  </body>
</html>