<h1>PERTANDINGAN PEREMPAT FINAL</h1>
<h3>[00:00]</h3>
<table>
    <thead>
        <tr>
            <th>Tim 1</th>
            <th>Tim 2</th>
            <th>Skor Tim 1</th>
            <th>Skor Tim 2</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>A</td>
            <td>B</td>
            <td><div>
      <button>-</button>
      <span>0</span>
      <button>+</button>
    </div></td>
            <td><div>
      <button>-</button>
      <span>0</span>
      <button>+</button>
    </div></td>
        </tr>
        <tr>
            <td>C</td>
            <td>D</td>
            <td><div>
      <button>-</button>
      <span>0</span>
      <button>+</button>
    </div></td>
            <td><div>
      <button>-</button>
      <span>0</span>
      <button>+</button>
    </div></td>
        </tr>
        <tr>
            <td>E</td>
            <td>F</td>
            <td><div>
      <button>-</button>
      <span>0</span>
      <button>+</button>
    </div></td>
            <td><div>
      <button>-</button>
      <span>0</span>
      <button>+</button>
    </div></td>
        </tr>
        <tr>
            <td>G</td>
            <td>H</td>
            <td><div>
      <button>-</button>
      <span>0</span>
      <button>+</button>
    </div></td>
            <td><div>
      <button>-</button>
      <span>0</span>
      <button>+</button>
    </div>
  </td>
        </tr>
    </tbody>
</table>
<button><a href="pertandingan-semifinal.html">NEXT</a></button>