{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class = "login">

    <h1>Create Umpire</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Nama: </td>
                <td><input type="text" name="nama" placeholder="Masukkan nama" class="form-control"></td>
            </tr>

            <tr>
                <td>Email: </td>
                <td><input type="text" name="email" placeholder="Masukkan email" class="form-control"></td>
            </tr>

            <tr>
                <td>Negara: </td>
                <td><input type="text" name="negara" placeholder="Masukkan negara" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn login_btn" type="submit" value="Register"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        


</div>

<script>
    $(function() {
        $("#start-date").datepicker();
    });
</script>
{% endblock content %}