<!-- JIKA ROLE = ATLET -->
{% extends 'base_umpire.html' %}

{% load static %}
{% block content %}

<!DOCTYPE html>
<div class="container">
    <h1>FORM BUAT UJIAN KUALIFIKASI</h1>

    <form>
        <div class="mb-3">
            <label for="tahun" class="form-label">Tahun (YYYY):</label>
            <input type="text" class="form-control" id="tahun" name="tahun" required>
        </div>
        <div class="mb-3">
            <label for="batch" class="form-label">Batch:</label>
            <input type="text" class="form-control" id="batch" name="batch" required>
        </div>
        <div class="mb-3">
            <label for="tempat" class="form-label">Tempat Pelaksanaan:</label>
            <input type="text" class="form-control" id="tempat" name="tempat" required>
        </div>
        <div class="mb-3">
            <label for="tanggal" class="form-label">Tanggal Pelaksanaan:</label>
            <input type="date" class="form-control" id="tanggal" name="tanggal" required>
        </div>
        <button type="submit" class="btn btn-primary">Buat</button>
    </form>
</div>

{% endblock content %}
