<!DOCTYPE html>
<html>
  <head>
    <title>Hello, World!</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
      <h1 class="title">FORM REGISTRASI UMPIRE</h1>
      <form action="/action_page.php">
        <label for="nama_ump">Nama:</label>
        <input type="text" id="nama_ump" name="nama_ump"><br><br>
        
        <label for="email_ump">Email:</label>
        <input type="text" id="email_ump" name="email_ump"><br><br>
        
        <label for="negara_ump">Negara:</label>
        <input type="text" id="negara_ump" name="negara_ump"><br><br>
        
       
        
        <br><input type="submit" value="DAFTAR">
      </form>
      <script src="script.js"></script>
  </body>
</html>