{% extends 'base_umpire.html' %}

{% load static %}
{% block content %}

<!DOCTYPE html>
<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <form method="POST" action="" id="myForm">
        {% csrf_token %}
        <h2>FORM UJIAN KUALIFIKASI</h2>
    
        <label class="questions">Tahun</label>
        <div class="input mb-3">
            <input type="text" name="tahun" class="form-control" placeholder="Tahun">
        </div>

        <label class="questions">Batch</label>
        <div class="input mb-3">
            <input type="text" name="batch" class="form-control" placeholder="Batch">
        </div>
        
        <label class="questions">Tempat Pelaksanaan</label>
        <div class="input mb-3">
            <input type="text" name="tempat" class="form-control" placeholder="Tempat Pelaksanaan">
        </div>

        <label class="questions">Tanggal Pelaksanaan</label>
        <div class="input mb-3">
            <input type="date" name="tanggal" class="form-control">
        </div>
        
        <div id="errorMessage" style="color: red; font-size: 12px; display: none;">Silakan isi semua form!</div>

        <div class="pb-3 pt-4 d-flex justify-content-center">
            <a href="../umpire_ujian_kualifikasi_list">
                <button type="submit" style="background-color: #428bca; color: #ffffff; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">BUAT</button>
            </a>
        </div>
    </form>
    </div>
</div>

<script>
    document.getElementById("myForm").addEventListener("submit", function(event) {
        var inputs = document.querySelectorAll("#myForm input[type='text'], #myForm input[type='date']");
        var incomplete = false;

        inputs.forEach(function(input) {
            if (input.value.trim() === "") {
                incomplete = true;
                input.classList.add("is-invalid");
            } else {
                input.classList.remove("is-invalid");
            }
        });

        if (incomplete) {
            event.preventDefault();
            document.getElementById("errorMessage").style.display = "block";
        }
    });
</script>

{% endblock content %}
