{% extends 'base_atlet.html' %}

{% load static %}
{% block content %}

<!DOCTYPE html>
<h3 style="text-align: center;">LIST UJIAN KUALIFIKASI</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Tahun</th>
      <th scope="col">Batch</th>
      <th scope="col">Tempat Pelaksanaan</th>
      <th scope="col">Tanggal Pelaksanaan</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for ujian in ujian_kualifikasi_list %}
    <tr>
      <td>{{ ujian.0 }}</td>
      <td>{{ ujian.1 }}</td>
      <td>{{ ujian.2 }}</td>
      <td>{{ ujian.3 }}</td>
      <td>
        <a href="../atlet_ujian_kualifikasi_soal" class="btn btn-primary">Ikuti</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
